<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
</head>
<body>
        <h1>{{ title }}</h1>

        <form action="/todos" method="POST">
            <input type="text" name="task">
            <button type="submit">Add Task</button>
        </form>

        <ul id="todolist">
            {{#each todos as |todo|}}
               <li> {{ todo.task }}</li> 
            {{/each}}
        </ul>
</body>
</html>