.container {
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: 1000px;
    border : 1px solid black;
}

.card{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; */
    margin: 10px; 
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 0.7rem;
    color:tomato;
    border: 1px solid black;
    background: url("https://picsum.photos/300/300?grayscale");
}

.card:hover {

    box-shadow :5px 5px 10px black;
}

button {
 /*shrt hand :  top right down left */
    /* margin: 40px 5px 2px 30px; */
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom:2px;
    color:black;
    border:2px solid black;
    font-weight: 800;
    display: inline-block;
    background-color: tomato;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

p {
    margin-left: 5px;
    font-weight: bolder;
    color: purple;
}

h1{
    color: purple;
   text-align: center; 
}

@media (max-width: 600px) {
    .container{
        margin: 1px;
        border: none;
        display: block;
    }
    .card {
        margin: 20px;
        display: block;
        height: 300px;
        width: 450px;
        border: 1px solid black;
        background: url("https://picsum.photos/450/300?grayscale");
    }
    button{
        height: 50px;
        width: 100px;
        display: inline-block;
        margin-top: 60px;
    }
    h1{
        color: blue;
        text-align:center;
        font-weight: bolder;
        text-align: center;
    }
}


@media (max-width: 400px) {
    .container{
        margin: 1px;
        border: none;
        display: block;
    }
    .card {
        margin: 5px;
        display: block;
        height: 200px;
        width: 250px;
        border: 1px solid black;
        background: url("https://picsum.photos/250/200?grayscale");
    }
    button{
        color:black;
        height: 40px;
        width: 80px;
        font-size: 0.4rem;
        display: inline-block;
        margin-top: 20px;
    }
    p{
    
        display: none;
    }
    h1{
        color: blue;
        text-align:center;
        font-weight: bolder;
        text-align: center;
    }
}